@model List<Products>

@using Matjary.Controllers.handle_session_objects
@{

    ViewData["Title"] = "ResultSearch";
    ViewData["currentpage"] = "ResultSearch";

    double count = Model.Count();
    var count2 = Model.Count();

    bool IsinSession = false;
    List<Products> session = Context.Session.GetComplexData<List<Products>>("Products");

    if (session == null) { session = new List<Products>(); }


    int discount = 0;
    int x = 0;

    if (count < 6)
    {
        count = 1;
    }
    else
    {
        count = count / 6.0;
        if (count.ToString().Contains('.') & !count.ToString().Contains(".0"))
        {
            count = Convert.ToInt32(count);

        }

    }
}
@{


}
    <div class="search-info">
        <span>الحساب الشخصي</span>
        <i class="fa fa-angle-left"></i>
        <span>نتائج البحث عن: @ViewBag.search'</span>
    </div>

<!-- Start Content -->
    <div class="top-category">
        <div>

            <span>عدد النتائج @count2</span>
        </div>

    </div>

<div class="category-page">
    <!--Start category-products -->
    <div class="style-products">

        <div class="hiddenproducts">
            @for (int j = 0; j < count; j++)
            {
                if (j == 0)
                {
                    x = 0;
                }
                else
                {
                    x = x + 6;
                }
                <div class="heightOflist">


                    @for (int i = x; i < Model.Count(); i++)
                    {
                        if (x + 6 == i) { break; }
                        discount = Convert.ToInt32((Model[i].SellPrice * (Model[i].DiscountRate / 100)));
                        <div class="heightOflist">
                            <a asp-action="DisplayProduct" asp-route-id="@Model[i].Id">
                                <h6>@Model[i].Name</h6>
                                <div class="">
                                    <span>
                                        <i class="fa fa-camera"></i>
                                        <b>@Model[i].ProductPhoto.ToList().Count()</b>
                                    </span>
                                    <img src="~/Dashboard/img/products/@Model[i].ProductPhoto.FirstOrDefault().Photo" width="130" height="130" alt="">
                                </div>
                                <h5>@(Model[i].SellPrice - discount) ر.ي</h5>
                                @if (Model[i].DiscountRate == 0)
                                {<h5>لا يوجد خصم</h5>}
                                else
                                {<h5> @Model[i].SellPrice ر.ي</h5>
                            }
                            </a>
                            <div>
                                @foreach (var product2 in session)
                                {
                                    if (product2.Id == Model[i].Id) { IsinSession = true; break; }

                                }
                                @if (IsinSession == false)
                                {
                                    <div onclick="addToCart(this,@Model[i].Id)" class="">
                                        <i class="fa fa-cart-plus"></i><a data-ajax="true" data-ajax-method="get" data-ajax-loading="#loader" data-ajax-url="@Url.Action("SessionManagment", "Store", new { id =Model[i].Id,delete=false }) "> <span>اضف الئ السلة</span></a>
                                    </div>
                                }
                                else
                                {
                                    <div onclick="addToCart(this)" class="true" style="background-color: rgb(69, 167, 135); cursor: default; position: relative;">
                                        <span>تم بنجاح</span>
                                    </div>
                                    <a id="x" data-ajax="true" data-ajax-method="get" data-ajax-loading="#loader" data-ajax-url="@Url.Action("SessionManagment", "Store", new{ id=Model[i].Id ,delete=true})"><i id="removeFromCart" onclick="removeFromCart(this)" class="far fa-times-circle"></i> <span class="tooltiptext">تراجع عن الأضافة</span></a>
                                    IsinSession = false;
                                }
                            </div>
                            <p class="whenHover"></p>
                        </div>
                        <i id="" class="line"></i>
                    }



                </div>
                <br>

            }
        </div>


    </div>
    <div>
        <button onclick="showMore(0,this)" id="showMore">اظهر المزيد</button>
    </div>
</div>

@section fileupload{

    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}

<!-- End Contenet -->
